{% load staticfiles %}
<link rel="stylesheet" href="{%static 'css/bootstrap/3.3.7/bootstrap.min.css' %}">
<link rel="stylesheet" href="{%static 'css/self/blog-admin.css' %}">    
<link rel="stylesheet" style="text/css" href="{%static 'css/code/pastie.css'%}">
<link rel="stylesheet" style="text/css" href="{%static 'css/flat-ui/flat-ui.css'%}">

<div class="markdownx row">
    <div class="col-md-6">
        <p> {{ markdownx_editor }}</p>
    </div>
    <div class="col-md-6">
        <div class="markdownx-preview"></div>
    </div>
</div>