{% extends "base.html" %}
{% load staticfiles %}
{% load custom_markdown %}

{% block title %}
{{ article.title }}
{% endblock title %}
 

{% block content%}
<ol class="breadcrumb">
	<li><a href="{%url "index" %}">Blog</a></li>
	<li><a href="{{ article.column.get_absolute_url }}">{{ article.column.slug }}</a></li>
    <li class="active">{{ article.title }}</li>
</ol>

<div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ article.title }}</h2>

                    <p class="post-meta">
                        Time:  <a class="post-time" href="#">{{ article.pub_date }}</a> 
                        Author: {{article.author}}
                    </p>
            </header>
                <div class="post-description">
                    <p>
                     {{ article.content|custom_markdown }}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
{% endblock %}