.aligned ul
{
	margin-left: 0px;
}

.aligned label
{
	float: none;
}

textarea
{
	width: 100%;
}

pre
{
	background-color: #f9f2f4;
}

ul li
{
	list-style-type: circle;
}

.module ol
{
	margin-left: 0px;
	padding-left: 20px;
}
