<!doctype html>
<html lang="en">
{% load staticfiles %}
{% load custom_markdown %}



<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Stlst Blog</title>
    <link rel="stylesheet" style="text/css" href="{%static 'css/code/pastie.css'%}">
<link rel="stylesheet" style="text/css" href="{%static 'css/flat-ui/flat-ui.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>  

<body>

<header class="navbar-inverse navbar-fixed-top"  role="navigation">
<div class="container">
<nav>

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url "index" %}">STLST</a>
    </div>
        
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a id="navbar-blog-a" href="{%url "index" %}">Blog</a></li>
            <li ><a href="#">Collection</a></li>
            <li ><a href="#">Gallery</a></li>
            <li ><a href="#">Project</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
    </div>
</nav>
</div>
</header>


<div class="jumbotron masthead">
  <div class="container">
    <div class="row">
    <div class=" text-center">
      <h3 style="font-size: 32px;"><i id="greeting-sentence" style="color: rgb(44, 62, 80);">Rush to the death summer</i></h3>
        </div>
    </div>
    </div>
</div>


<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="container-fluid">
          <div class="col-md-3 sidenav">
            {%block blog-category%} 
            {%endblock%}
          </div>
          <div class="col-md-9">
            {%block content%}
            {%endblock%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <script src="{%static 'js/jquery/2.1.1/jquery.min.js' %}"></script>
    <script src="{%static 'js/bootstrap/3.3.7/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/flat-ui/flat-ui.min.js' %}"></script>
    <script src="{%static 'js/self/jblog.js' %}"></script>
</body>
</html>




















